# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
.venv/
venv/
ENV/

# IDE specific files
.idea/
.vscode/*
!.vscode/launch.json
!.vscode/settings.json

# OS specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Testing
.coverage
htmlcov/
documents/instructions/
documents/reports/
tests/visual/screenshots/